{{#if messageOK}}
<div class="mx-auto alert alert-success mb-5 p-3 text-center"> {{messageOK}} </div>
{{/if}}

<div class="card">
  <div class="card-body">
    Welcome, admin {{username}}
    <a href='/{{username}}/heroForm' class="float-right"> Edit your hero decks </a>
    <br>
    <a href='/{{username}}/villainForm' class="float-right"> Edit your villain decks </a>
    <br>
    <a href='/{{username}}/envForm' class="float-right"> Edit your environment decks </a>
    <br>
    <a href='/addNewHero' class="float-right"> Add new hero decks </a>
    <br>
    <a href='/addNewVillain' class="float-right"> Add new villain decks </a>
    <br>
    <a href='/addNewEnv' class="float-right"> Add new environment decks </a>
  </div>
</div>

<canvas id="heroChart" data-labels="" ></canvas>
<script>
var ctx = document.getElementById("heroChart").getContext('2d');
var myChart = new Chart(ctx, {
  type: 'bar',
  data: {
    labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
    datasets: [{
      label: '# users who own each hero deck',
      data: [22, 19, 3, 5, 2, 3],
    }]
  },
  options: {
    scales: {
      yAxes: [{
        ticks: {
          beginAtZero:true
        }
      }]
    }
  }
});
</script>
