{{#if messageOK}}
<div class="mx-auto alert alert-success mb-5 p-3 text-center"> {{messageOK}} </div>
{{/if}}

<div class="card">
  <div class="card-body">
    Welcome, admin {{username}}
    <a href='/{{username}}/heroForm' class="float-right"> Edit your hero decks </a>
    <br>
    <a href='/{{username}}/villainForm' class="float-right"> Edit your villain decks </a>
    <br>
    <a href='/{{username}}/envForm' class="float-right"> Edit your environment decks </a>
    <br>
    <a href='/{{username}}/newHeroForm' class="float-right"> Add new hero decks </a>
    <br>
    <a href='/{{username}}/newVillainForm' class="float-right"> Add new villain decks </a>
    <br>
    <a href='/{{username}}/newEnvForm' class="float-right"> Add new environment decks </a>
  </div>
</div>
