<div class="container">
  <div class="mx-3 card ml-5">
    <div class="card-body">
      <p class="ml-5 card-title"> Which {{type}} decks do you own? </p>
      <div class="card-text">
        <!-- <form class="ml-5" action="/api/decksOwned" method="post"> -->
        <form class="ml-5">
          <div>
            <input value="{{type}}" class="d-none" id="deckType">
          </label>
        </div>
        {{#each array}}
        <div class="checkbox">
          <label for="{{this.name}}">
            <input class="form-thing" type="checkbox" id="{{this.name}}" data-name="deckName">
            {{this.name}}
          </label>
        </div>
        {{/each}}
        <button type="submit" id="submitDeckForm"
        class="rounded bg-primary p-2 px-3 text-white mt-5">
        Submit
      </button>
    </form>
  </div>
</div>
</div>
</div>
